.remove-btn {
  margin-right: 0.5rem;
}

.faded-enter {
  opacity: 0;
}
.faded-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.faded-exit {
  opacity: 1;
}
.faded-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
